:root {
  --white: #fff;
  --lt-gray: #f8f8f8;
  --gray: #eaeaea;
  --black: #3e403d;
  --dk-gray: #6b6b6b;
  --mid-gray: #8c8c84;
  --yellow: #f2dfa7;
  --gold: #a68256;
  --maron: #590202;
  --github: #6cc644;
  --instagram: #833ab4;
  --pinterest: #e60023;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1.65;
  color: var(--black);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 1rem;
}

svg {
  display: block;
}

p:last-of-type {
  margin: 0;
}

a:not(.content_link):not(.button):not(.social_item a):link,
a:not(.content_link):not(.button):not(.social_item a):visited {
  text-decoration: none;
  color: var(--maron);
  border-bottom: 2px solid transparent;
  display: inline-block;
  transition: border-bottom 300ms ease-in-out;
}

a:not(.content_link):not(.button):not(.social_item a):focus,
a:not(.content_link):not(.button):not(.social_item a):hover,
a:not(.content_link):not(.button):not(.social_item a):active {
  border-bottom: 2px solid var(--maron);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="url"],
input[type="number"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--black);
  display: block;
  width: 100%;
  padding: 1rem 0;
  margin: 2rem 0;
}
.serif {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: var(--mid-gray);
  font-size: 1.1rem;
}

.center {
  text-align: center;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0 0 2rem;
}

.access-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  z-index: 1;
}

/* Header */

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  position: sticky;
  inset: 0;
  z-index: 1;
  background-color: var(--white);
}

@media (max-width: 1024px) {
  .header {
    padding: 0 0.5rem;
  }
}
.button {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  padding: 1rem 2rem;
  border: 2px solid var(--maron);
  background-color: transparent;
  text-decoration: none;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  text-transform: uppercase;
  color: var(--black);
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 1024px) {
  .button {
    padding: 0.75rem 1rem;
  }
}
.content_header {
  max-width: 80ch;
  margin: 0 auto 3rem;
  text-align: center;
}

.content_header .secondary-heading {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrap {
  max-width: 75rem;
  margin: 0 auto;
}
.primary-logo {
  margin: 0;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: clamp(1.3rem, 3vw, 2rem);
  width: 14rem;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .primary-logo {
    width: calc(100% - 6rem);
    padding-left: 11.5px;
  }
}

.header_right {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  width: 14rem;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .header_right {
    width: auto;
  }
}

/* Social Nav */

.social_nav {
  position: static;
}

.social_nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

.social_item {
  line-height: 1;
}

.social_item a {
  display: block;
  padding: 11.5px;
}

.social_item a:link,
.social_item a:visited {
  display: block;
  padding: 11.5px;
  border-bottom: none;
}

.social_item svg {
  display: block;
  width: 25px;
  height: 25px;
  fill: var(--black);
  transition: fill 300ms ease-in-out;
}
/* .social_item a:focus,
.social_item a:hover,
.social_item a:active {
  border-bottom: none;
} */
:not(.social_item a) .social_item svg {
  display: block;
  fill: var(--black);
  width: 25px;
  height: 25px;
}

@media (max-width: 1024px) {
  .social_nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: var(--lt-gray);
  }

  .social_nav ul {
    justify-content: center;
  }
}

/* Navigation */
.mobile_button {
  display: none;
  border: none;
  padding: 11.5px;
  background-color: transparent;
}

.mobile_button div {
  width: 25px;
  height: 0;
  margin: 0.33rem 0;
  border-bottom: 2px solid var(--black);
}

.main_nav {
  position: static;
  box-shadow: none;
}

.main_nav ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  gap: clamp(1rem, 3vw, 3rem);
}

.main_nav ul li a {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5;
}

@media (max-width: 1024px) {
  .mobile_button {
    display: block;
  }

  .mobile_close div:nth-of-type(1) {
    transform: rotateZ(45deg) translate(2px, 2px);
  }

  .mobile_close div:nth-of-type(2) {
    transform: rotateZ(-45deg) translate(4px, -3px);
  }

  .main_nav {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    max-width: 100%;
    transition: right 300ms ease-in-out;
    z-index: 4;
    height: 100vh;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: var(--white);
    transition: right 300ms ease-in-out, box-shadow 300ms ease-in-out;
  }
  .main_nav.active {
    right: 0;
    box-shadow: -1px 0px 2px 2px rgba(0, 0, 0, 0.1);
    visibility: visible;
  }

  .main_nav ul {
    flex-direction: column;
    margin: 6rem 0 0;
  }
}
/* Search */
.search_drawer {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--lt-gray);
  overflow: hidden;
  z-index: 3;
  transition: opacity 300ms ease-in-out;
}

.search_drawer.active {
  visibility: visible;
  opacity: 1;
}
.search_close,
.search_open {
  padding: 11.5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search_close svg,
.search_open svg {
  display: block;
  width: 25px;
  height: 25px;
  stroke: var(--black);
}

.search_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
}

.search_close svg {
  width: 4rem;
  height: 4rem;
  stroke: var(--white);
}

.search_form {
  position: relative;
  width: 50rem;
  max-width: 100%;
}

.search_label {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  color: var(--yellow);
  margin: 0 0 0.25rem;
}

.search_input {
  width: 100%;
  height: 55px;
  padding: 1rem;
}

.submit_button {
  display: block;
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
  background-color: transparent;
}

.submit_button svg {
  display: block;
  width: 25px;
  height: 25px;
  margin: auto;
  stroke: var(--black);
}

.search_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
}

.search_close svg {
  stroke: var(--white);
  width: 4rem;
  height: 4rem;
}

/* slider */

.slider {
  position: relative;
  z-index: 0;
}

.slider_content {
  position: absolute;
  max-width: 100%;
  width: 40rem;
  padding: 5rem;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 2;
  text-align: center;
}

.slider_content::after {
  content: ""; /* must have content */
  position: absolute;
  border: 2px solid var(--yellow);

  top: 2rem;
  left: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  pointer-events: none;
  /* z-index: 9999; */
}

.slider_content p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 0 0 2rem;
}

.slider_content p:last-of-type {
  margin: 0;
}

.slider_heading {
  margin: 0 0 1rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: clamp(1.25rem, 3vw, 2rem);
}

.slider_controls {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0 1rem;
}

.slider_button {
  cursor: pointer;
  border: 0;
  border-radius: 2.5px;
  padding: 11.5px;
  background-color: rgba(255, 255, 255, 0.75);
  transition: background-color 300ms ease-in-out;
}

.slider_button:focus,
.slider_button:hover,
.slider_button:active {
  background-color: var(--black);
}

.slider_button svg {
  display: block;
  width: 25px;
  height: 25px;
  stroke: var(--black);
  transition: stroke 300ms ease-in-out;
}

.slider_button:focus > svg,
.slider_button:hover > svg,
.slider_button:active > svg {
  stroke: var(--white);
}

.slider_next {
  order: 2;
}

.slider_prev {
  order: 1;
}
.slider ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: auto;
}

.slider .image {
  margin: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 8/3;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .slider_content {
    position: static;
    transform: translate(0, 0);
    width: 100%;
    padding: 2rem 2rem 3rem;
  }

  .slider_content::after {
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
  }

  .slider .image {
    margin: 3rem 0 0;
    aspect-ratio: 16/9;
  }
}

/* three card section */
.three_card-section {
  padding: 4rem 1rem;
  background-color: var(--white);
}

.three_card-section .wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.three_card-section .content_item {
  width: calc((100% - 4rem) / 3);
}

.three_card-section .image {
  width: 100%;
  height: auto;
  aspect-ratio: 1.17/1;
}

.three_card-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.three_card-section .article_category {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 2px solid var(--yellow);
  padding: 2rem 0 0.25rem;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}

.three_card-section .tertiary-heading {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 1rem;
}

.three_card-section .tertiary-heading span {
  font-size: 2rem;
  margin-right: 0.5rem;
  line-height: 1;
}

.three_card-section .content_link {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5px;
  color: var(--maron);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  /* white-space: nowrap; */
}

.three_card-section .content_link svg {
  width: 1.25rem;
  height: 1.25rem;
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.three_card-section .content_link:hover > svg,
.three_card-section .content_link:active > svg,
.three_card-section .content_link:focus > svg {
  transform: translateX(0.5rem);
}

@media (max-width: 960px) {
  .three_card-section .wrap {
    flex-wrap: wrap;
    gap: 0;
  }
  .three_card-section .content_item {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0 0 2rem;
  }

  .three_card-section .image,
  .three_card-section .content_description {
    width: calc((100% - 1rem) / 2);
  }
}

@media screen and (max-width: 600px) {
  .three_card-section .content_item {
    width: 100%;
    flex-wrap: wrap;
    gap: 0;
    margin: 0 0 1rem;
  }

  .three_card-section .image,
  .three_card-section .content_description {
    width: 100%;
  }

  .three_card-section .image {
    aspect-ratio: 1.17 /1;
  }
}

/* dark section */

.dark_section {
  padding: 4rem 1rem;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.dark_section .image_wrap {
  width: 50%;
}

.dark_section .image {
  width: 100%;
  height: auto;
  aspect-ratio: 1.6/ 1;
}

.dark_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dark_section .content_description {
  width: 50%;
  padding: 0 3rem;
}

.dark_section .content_description p {
  font-size: 1.1rem;
}

.dark_section .secondary-heading {
  margin: 0 0 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media (max-width: 960px) {
  .dark_section {
    flex-wrap: wrap;
    padding: 2rem 1rem;
  }

  .dark_section .secondary-heading {
    margin: 0 0 0.25rem;
    line-height: 1.25;
  }

  .dark_section .image_wrap {
    margin: 0 0 1rem;
  }
  .dark_section .image_wrap,
  .dark_section .content_description {
    width: 100%;
    padding: 0;
  }

  .dark_section .content_description p {
    font-size: 1rem;
  }
}

/*  overlay hover */
.overlay_hover-section {
  padding: 4rem 0;
  background-color: var(--lt-gray);
}

.overlay_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  margin: 0 0 3rem;
}

.overlay_item {
  width: 25%;
  position: relative;
  z-index: 0;
}

.overlay_hover-section .image {
  width: 100%;
  height: auto;
  aspect-ratio: 1.03/1;
}

.overlay_hover-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay_hover-section .item_content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.75);
}

.overlay_hover-section .item_content::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  border: 2px solid var(--yellow);
  z-index: 2;
  pointer-events: none;
}

.overlay_hover-section .tertiary-heading {
  margin: 0 0 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .overlay_container {
    flex-wrap: wrap;
  }

  .overlay_item {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .overlay_item {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .overlay_hover-section .item_content {
    width: 90%;
  }
}

/*  Testimonial Slider */
.testimonial_slider-section {
  padding: 4rem 1rem;
  background-color: var(--black);
  color: var(--white);
}

.testimonial_slider-section .quotes {
  font-size: 5rem;
  font-style: normal;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  color: var(--white);
  line-height: 1;
}

.testimonial_slider-section ul {
  padding: 0;
  list-style-type: none;
  max-width: 50rem;
  margin: 0 auto;
  aspect-ratio: unset;
}

.testimonial_slider-section .slider_button {
  background-color: transparent;
}

.testimonial_slider-section .slider_button:focus,
.testimonial_slider-section .slider_button:hover,
.testimonial_slider-section .slider_button:active {
  background-color: var(--white);
}

.testimonial_slider-section .slider_button svg {
  stroke: var(--white);
}

.testimonial_slider-section .slider_button:focus > svg,
.testimonial_slider-section .slider_button:hover > svg,
.testimonial_slider-section .slider_button:active > svg {
  stroke: var(--black);
}

@media screen and (max-width: 960px) {
  .testimonial_slider-section {
    padding: 2rem 1rem 3rem;
  }

  .testimonial_slider-section .slider_controls {
    align-items: flex-end;
  }
}

/* Contact Form */
.contact_section {
  padding: 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
}

.google_map {
  width: 50%;
  height: auto;
  aspect-ratio: 1/1;
  /* position: relative; */
}

.google_map iframe {
  /* position: absolute;
  inset: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact_section .form {
  width: 50%;
  background-color: var(--lt-gray);
  padding: 4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* Form Styles */
.form .button {
  background-color: var(--black);
  color: var(--white);
}

.form .button:hover,
.form .button:active,
.form .button:focus {
  background-color: transparent;
  color: var(--black);
}

/* Footer */

.footer {
  padding: 4rem 1rem;
  text-align: center;
  position: relative;
}

.footer .social_nav ul {
  justify-content: center;
}

.copyright:last-of-type {
  margin: 2rem 0 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
